# Hello World

This is Hello World with a Jupyter Notebook and a showcase on some basic operations with it.

In [12]:
print("Hello World")

Hello World

In [13]:
x = 2
y = 3

In [14]:
x + y

5

In [15]:
print(x + y)
x - y

5

-1

In [16]:
mynums = [1, 2, 3, 1, 2]
mynums

[1, 2, 3, 1, 2]

In [17]:
for n in mynums:
    print(n+1)

2
3
4
2
3

In [18]:
mynums?

Type:        list
String form: [1, 2, 3, 1, 2]
Length:      5
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [19]:
import pandas as pd

In [20]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  1
4  2

In [21]:
mynums.sort(reverse=True)
mynums

[3, 2, 2, 1, 1]

In [22]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [ ]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [ ]:
%debug

> c:\users\matt\appdata\local\temp\ipykernel_20344\1746220672.py(3)<cell line: 3>()

ipdb> x
2
ipdb> y
0
ipdb> exit()